.mainContainer {
  margin: 1%;
}

.paper {
  display: flex;
  flex-direction: column;
  height: 335px;
  width: 300px;
  background-color: white !important;
  color: #6603b7 !important;
}

.petDataGrid {
  display: flex;
  justify-content: center;
}

.petImageContainer {
  display: flex;
  justify-content: center;
  height: 80%;
  align-items: center;
}

.petImage {
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

.nameContainer {
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  margin: 0% 2% 0% 2%;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breedContainer {
  font-size: 14px;
  color: black;
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
}

.directionButtonContainer {
  display: flex;
  justify-content: center;
  margin: 1%;
}

.nextPageButton {
  color: #6603b7 !important;
  background-color: white !important;
  font-weight: bold !important;
  position: unset !important;
}

.previousPageButton {
  color: #6603b7 !important;
  background-color: white !important;
  margin-right: 2% !important;
  font-weight: bold !important;
  position: unset !important;
}

.disabledButton {
  color: white !important;
  background-color: grey !important;
  margin-right: 2% !important;
  position: unset !important;
}
