.mainContainer {
  height: 100%;
  overflow: hidden;
}

.subContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.filterContainer {
  width: 400px;
  height: 100%;
  overflow: auto;
  border-radius: 5px;
}

.hideFilterContainerr {
  display: none;
}

.dataContainer {
  width: 100%;
  height: 95%;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
