.mainContainer {
  height: 100%;
  display: flex;
  justify-content: center;
}
.subContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
}
