.mainContainer {
  margin: 1%;
}

.filtersTitle {
  font-size: 20px !important;
  margin-left: 1% !important;
}

.filtersSelected {
  background-color: #6500b7 !important;
  color: white !important;
  margin: 1% !important;
}

.filtersSelectedIcon {
  color: white !important;
}

.clearAllButton {
  color: #6500b7 !important;
  margin: 5px !important;
  font-weight: bold !important;
}

.clearAllIcon {
  color: #6500b7 !important;
}

@media only screen and (max-width: 600px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
