.selectedBreeds {
  color: black !important;
  background-color: white;
}

.filtersSelected {
  background-color: white !important;
  color: black;
  margin-right: 1% !important;
}

.filtersSelectedIcon {
  color: red;
}

.mainList {
  background-color: white;
  color: black !important;
  border-radius: 5px;
}

.subList {
  background-color: white;
  color: black !important;
  height: 50px;
  border-radius: 5px;
  display: flex;
}

.directionsArrowsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nextButton {
  color: black !important;
}
.previousButton {
  color: black !important;
}
